# =====================================================
# Python
# =====================================================
__pycache__/
*.py[cod]
*.pyo

# =====================================================
# Virtual Environment
# =====================================================
venv/
.venv/

# =====================================================
# Spark
# =====================================================
spark-warehouse/
metastore_db/

# =====================================================
# Delta Data
# =====================================================
data/
data_delta/
checkpoints/
temp/

# =====================================================
# Parquet Files
# =====================================================
*.parquet

# =====================================================
# IDE
# =====================================================
.vscode/
.idea/

# =====================================================
# Logs
# =====================================================
*.log

# =====================================================
# Environment Files
# =====================================================
.env
.env.*

# =====================================================
# OS
# =====================================================
.DS_Store
Thumbs.db

# =====================================================
# Sensitive Configuration
# =====================================================
config/aws_config.py
README.md

# Spark dependency jars
spark/deps/*.jar
